ol {list-style-type: none;}
ol > li:before {content: "[" counter(section) "] ";}
ol > li { counter-increment: section;}

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #484953;
  background-color: #ECE6E7;
}

hr {
    opacity: 0.25;
}

.text-link:link, .text-link:visited {
    color: #64709B;
}

.text-link:hover {
    color: #8490BB;
    text-decoration: none;
}


.content_container
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills{
    font-weight: 400;
}

.nav-pills > li > a
{
    background-color: #161314 !important;
}

.nav-pills > .active
{
    font-weight: 900;
}

.color-link
{
    font-size: 150%;
    color: #484953;
}

.color-link:hover
{
    color: #6C6A70;
}

.emph
{
  color: #c02020;
}

.emphblack
{
  color: #000000;
  font-weight: 700;
}
