@media print, screen and (max-width: 960px) {
    div.content_container {
        width:auto;
        margin:0;
    }
}

.header {
    height: 220px;
    margin: auto;
    padding: 10px;
}

.picture {
    height: 220px;
    border: 1px solid #484953;
    background-color: #484953;"
    width: 25%;
    float: left;
}

.info {
    height: 220px;
    margin-left: 25%;
}

.research {
    margin-top: 25px;
}

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #484953;
  width: 100%;
  background-color: #EFE9EA;
  padding: 50px;
  text-align: justify;
}

hr {
    border-color: #484953;
    opacity: 0.25;
}

ol {list-style-type: none;}
ol > li:before {content: "[" counter(section) "] ";}
ol > li { counter-increment: section;}

.text-link:link, .text-link:visited {
    color: #64709B;
}

.text-link:hover {
    color: #8490BB;
    text-decoration: none;
}


.content_container {
    max-width: 750px;
    margin: auto;
}

.color-link
{
    font-size: 150%;
    color: #484953;
}

.color-link:hover
{
    color: #6C6A70;
}
