.info {
    font-size: 85%;
    text-justify: none;
    display: inline-block;
}

.img-fluid {
    border: 2px solid #484953;
    background-color: #484953;
}

.research {
    margin-top: 25px;
}

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #484953;
  width: 100%;
  background-color: #E8E8E8;
  padding: 50px;
  text-align: justify;
}

hr {
    border-color: #484953;
    opacity: 0.25;
}

ol {list-style-type: none;  padding-left: 0;}
ol > li:before {content: "[" counter(section) "] ";}
ol > li { counter-increment: section;}

.text-link:link, .text-link:visited {
    color: #d9376e;
}

.text-link:hover {
    color: #F9579e;
    text-decoration: none;
}


.content_container {
    max-width: 750px;
    margin: auto;
}

.color-link
{
    font-size: 150%;
    color: #484953;
}

.color-link:hover
{
    color: #6C6A70;
}
