body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #E5E4E2;
  background-color: #161314;
}

hr {
    opacity: 0.25;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.text-link:link, .text-link:visited {
    color: #BE9BFF;
}

.text-link:hover {
    color: #9E7BFF;
    text-decoration: none;
}

.content_container
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title_text
{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50pt;
    line-height: 54pt;
    color: #E5E4E2;
}

.splash
{
  line-height: 20pt;
}
